
/*
* {
  margin: 0px;
  padding: 0px;
  font-size: small;
}
*/


.m-button {
  outline: none;
  border: none;
  padding: 2px 10px 2px 10px;
  background-color: #727272;
  color: #FFF;
  cursor: pointer;
  border-radius: 3px;
}

.m-button:hover {
  background-color: #979797;
}

.m-button:active {
  background-color: #FFF;
  color: #727272;
}

.s-button {
  outline: none;
  border: none;
  padding: 1px;
  background-color: #727272;
  color: #FFF;
  cursor: pointer;
  font-size: x-small;
}

.s-button:hover {
  background-color: #979797;
}

.s-button:active {
  background-color: #FFF;
  color: #727272;
}

* {
  outline: none;
}

/*
#main {
  padding: 2px;
  margin: 5px;
}
*/

/*
#main * {
  padding: 3px;
}
*/

/*

#main table {
  margin: 5px;
}

#main div {
  margin: 5px;
}

.content, .content * {
  outline: dotted 1px #CCC;
}

table {
  border-collapse: collapse;
  display: inline-block;
}

td,th { 
  border: solid 1px #CCC; 
  outline: none;
}

th { background-color: #EEE; }

table,tr {
  outline: none;
}

*/

/*
.content, .content * {
  outline: dotted 1px #CCC;
}
*/


#main {
  outline: none;
}

html,body {
  background-color: #AAA;
}

body {
  padding: 10px;
}

#optionControl {
  background-color: #FFF;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #555;
}

#optionControl td {
  min-width: 32px;
}

.span-button-inline {
  font-size: x-small;
  cursor: pointer;
  user-select:none;
}

.span-button-inline:hover {
  filter: invert(1);
}

.color-dark {
  color: #AAA;
}

.color-light {
  color: #EEE;
}

.bg-dark {
  background-color: #AAA;
}

.bg-dark {
  background-color: #EEE;
}

.font-size-x-small {
  font-size: x-small;
}

.font-size-small {
  font-size: small;
}

/* ------------------------------------------------------------------------- */

/* header */

.__metadoc-header {
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  height:46px;
  padding:5px;
  border-bottom: solid 1px #CCC;
  background-color:#AAA;
  z-index:999;
}

.__metadoc-header-title {
  text-decoration:underline;
  font-size:small;
  font-weight:bold;
  color: #EEE;
}

.__metadoc-button-container {
  padding: 5px;
}

.__metadoc-button-container button {
  margin-right: 5px;
}

/* core */

.over {
  outline: dotted 1px #CCC;
}

.focused {
  animation: hilite 1s;
}

@keyframes hilite {
  0% {
    background-color: transparent;
  }
  20% {
    background-color: #F6F6BC;
  }
  100% {
    background-color: transparent;
  }
}

/* option control */

.__metadoc-option-control {
  position:fixed;
  z-index:9999;
  line-height:8px;
  box-shadow: 3px 3px 5px #888;
}

/* misc */

.__metadoc-shadow {
  box-shadow: 5px 5px 5px #888;
}

/* multiline editor */

#multilineEditor {
  position:fixed; top:20px; bottom:20px; left:20px; right:20px; z-index:9999; background-color:#FFF; border:solid 1px #000;
}

#multilineEditorConfirm {
  position:absolute; left:10px; top:10px;
}

#multilineEditorCancel {
  position:absolute; left:60px; top:10px;
}

#multilineEditorTextarea {
  display:inline-block; position:absolute; resize:none; top:48px; height:calc(100% - 90px); left:20px; width:calc(100% - 50px); background-color:#FFF; border:solid 1px #000;
}

/* image palette */

#imagePalette {
  position:fixed; top:20px; bottom:20px; left:20px; right:20px; z-index:9999; background-color:#FFF; border:solid 1px #000;
}

#imagePaletteConfirm {
  position:absolute; left:10px; top:10px;
}

#imagePaletteCancel {
  position:absolute; left:60px; top:10px;
}

#imagePaletteEditable {
  display:inline-block; position:absolute; resize:none; top:48px; height:calc(100% - 90px); left:20px; width:calc(100% - 50px); background-color:#FFF; border:solid 1px #000;
}
