
/*
* {
  margin: 0px;
  padding: 0px;
  font-size: small;
}
*/

.button-container {
  padding: 5px;
}

.button-container button {
  margin-right: 5px;
}

.m-button {
  outline: none;
  border: none;
  padding: 2px 10px 2px 10px;
  background-color: #727272;
  color: #FFF;
  cursor: pointer;
  border-radius: 3px;
}

.m-button:hover {
  background-color: #979797;
}

.m-button:active {
  background-color: #FFF;
  color: #727272;
}

.s-button {
  outline: none;
  border: none;
  padding: 1px;
  background-color: #727272;
  color: #FFF;
  cursor: pointer;
  font-size: x-small;
}

.s-button:hover {
  background-color: #979797;
}

.s-button:active {
  background-color: #FFF;
  color: #727272;
}

* {
  outline: none;
}

/*
#main {
  padding: 2px;
  margin: 5px;
}
*/

/*
#main * {
  padding: 3px;
}
*/

/*

#main table {
  margin: 5px;
}

#main div {
  margin: 5px;
}

.content, .content * {
  outline: dotted 1px #CCC;
}

table {
  border-collapse: collapse;
  display: inline-block;
}

td,th { 
  border: solid 1px #CCC; 
  outline: none;
}

th { background-color: #EEE; }

table,tr {
  outline: none;
}

*/

/*
.content, .content * {
  outline: dotted 1px #CCC;
}
*/

.over {
  outline: dotted 1px #CCC;
}

#main {
  outline: none;
}

html,body {
  background-color: #AAA;
}

body {
  padding: 10px;
}

#optionControl {
  background-color: #FFF;
  border-radius: 5px;
  padding: 5px;
  border: solid 1px #555;
}

#optionControl td {
  min-width: 32px;
}

.span-button-inline {
  font-size: x-small;
  cursor: pointer;
}

.span-button-inline:hover {
  filter: invert(1);
}

.color-dark {
  color: #AAA;
}

.color-light {
  color: #EEE;
}

.bg-dark {
  background-color: #AAA;
}

.bg-dark {
  background-color: #EEE;
}

.font-size-x-small {
  font-size: x-small;
}

.font-size-small {
  font-size: small;
}


